@import "../styles/theme-dark.scss";

.locations {
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 2rem;

  .map {
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
  }
}

.location {
  padding-top: 2rem;
  img {
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
  }
}
