@import "../styles/theme-dark.scss";

.section-test {
  overflow: hidden;
  width: 100%;
  background-color: #000;
}

// fadein when scrooling in
.test-msg{
  font-size: 5vw;
  font-weight: bold;
  color: #e6e7e8;
  margin: 2rem;
  
}

@media (min-width: $mediaphonelandscape) { // 374px
  .test-msg {
    color: pink;
  }
}

@media (min-width: $mediatablet) { // 735px
  .test-msg {
    color: yellow;
  }
}

@media (min-width: $mediatabletlandscape) { // 767px
  .test-msg {
    color: green;
  }
}

@media (min-width: $mediadesktoplarge) { // 1919px
  .test-msg {
    color: cyan;
  }
}

